.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.preview {
    display: flex;
    flex-wrap: wrap;
    padding: .5rem;
    list-style: none;
}