* {
  margin: 0;
  padding: 0;
}

body {
  background: #666;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  padding-top: 5rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.strikeLine {
  text-decoration: line-through 3px red;
}


